.card-title {
  font-size: 16px;
  line-height: 1.25;
  max-height: 40px;
  overflow: hidden;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars ion-icon {
  font-size: 18px;
}

.price {
  font-weight: 700;
}
