.column {
    border: solid 1px black;
    color: black;
    text-align: center;
    margin: 2px 2px 2px 2px;
    border-radius: 5px;
}

ion-input {
    border: solid 1px black;
    text-align: right;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 0px 2px 0px 2px;
}