div {
    margin-top: 10px;
    border: 1px solid #808080;
    width: 278px;
    padding-top: 10px;
    padding-bottom: 10px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

button {
    background-color:red;
    border: 0;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px 12px 5px 12px;
    color: white;
}